body {
    font: 1.041666666vmax Lato, sans-serif;
    padding: 1vmax;
}

.content, .info {
    border: 0.2vmax solid black;
    border-radius: 0.5vmax;
    height: 100vh;
    padding: 1.5vmax;
    width: 50vw;
}

.content {
    margin: auto;
}

h1 {
    font-family: 'Concert One', cursive;
    margin-top: 0;
    text-align: center;
}

.grid {
    align-items: center;
    display: grid;
    grid-gap: 1vmax;
    grid-template-columns: repeat(3, auto);
}

.item {
    align-items: center;
    border: 0.2vmax inset black;
    border-radius: 0.5vmax;
    cursor: pointer;
    display: flex;
    padding: 1vmax;
    transition: border-style 0.1s, box-shadow 0.1s;
}

.item:hover {
    border-style: outset;
    box-shadow: 0.1vmax 0.1vmax;
}

.item:active {
    border-style: inset;
}

.info {
    background-color: white;
    display: none;
    position: absolute;
    text-align: left;
    margin-top: 100vh;
}

.back {
    cursor: pointer;
    font-size: 3em;
    position: absolute;
    top: 1.5vmax;
}

.info > h2 {
    line-height: 1.15;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.footer {
    margin-top: 1vmax;
    position: absolute;
    width: 50vw;
}

.footer > button {
    background-color: white;
    border: 0.15vmax inset black;
    border-radius: 0.375vmax;
    cursor: pointer;
    float: right;
}

.footer > button:hover {
    border-style: outset;
    box-shadow: 0.075vmax 0.075vmax;
}

.footer > button:active {
    border-style: inset;
}
